<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/Views/css/css_home.css" />
    </head>
    <body>
        
        <div id="topo" class="corpo">
            
            
            <div class="centraliza">
             <a id="logo" href="/home/"> Legendaz</a>
            
             <form id="sustenta_busca"  tabindex="0" method="post" action="/home/busca" >
                <input type="search" name="busca" id="busca" />
                <input type="submit"  id="enviar" value="" />
               
                
            </form>
            </div>
            
        </div>
        <div  style=" float: left; margin-top: 100px; width: 100%;">
            <div class="centraliza" style="margin-right:  150px;">
            <h2>PAGINA NÃO ENCONTRADA, DESCULPE.</h2>
        
        <h1 style="font-size: 200px;">404</h1>
            </div>
            
            
            
        </div>
        
        
        
            <div id="rodape" style="margin-top: 100px; background: white !important;">
            
            <div class="centraliza">
                <div id="centro_rodape">
                    <div class="text_centro_rodape">© 2015</div>
                    <div class="text_centro_rodape">Legendaz - Aqui você encontra legenda de qualidade!</div>
                    <a  href="/home/" class="text_centro_rodape">Página inicial</a>
                    <a  href="/home/termos" class="text_centro_rodape">Termos de uso</a>
                    <a  href="/home/politicadeprivacidade" class="text_centro_rodape retira_borda">Política de Privacidade</a>
                    <a  href="http://www.facebook.com.br" id="facebook" title="Facebook" class="imgs_centro_rodape"></a>
                    <a  href="http://www.twitter.com.br" id="twitter" title="Twitter" class="imgs_centro_rodape"></a>
                </div>    
            </div>
            
        </div>
    </body>
</html>
