<!DOCTYPE html>
<html >
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        
        <link href="/Views/css/css_home.css" rel="stylesheet" type="text/css"/>
        <script src="/Views/js/time.js"></script>
        
        <title>Legendaz</title>
    </head>
    
    <body onload="startTime()">
        
   
        
        
        <div id="topo" class="corpo">
            
            
            <div class="centraliza">
                <div id="itens">
             <a id="logo" href="/home/"> Legendaz</a>
            
             <form id="sustenta_busca"  tabindex="0" method="post" action="/home/busca" >
                <input type="search" name="busca" id="busca" />
                <input type="submit"  id="enviar" value="" />
               
                
            </form>
             <!--
            <div id="sustenta_favorito">
                <div id="hover_favorito" >
                    teste
                </div>
            </div>
            
            <div id="sustenta_historico">
                <div id="hover_historico">
                    
                </div>
             
            </div>
             -->
         
         
            
             
            <!-- #$login$# --> 
            <div id="login" style="display: block !important;"><a href="/login">CONECTAR</a> / <a href="/cadastro">CADASTRAR</a></div>
            <!-- END #$login$# -->
            
             
             
          
             <!-- #$login_late$# --> 
             <div id="login_late">
                 <!-- #$IMG$# -->
                
                <div id="name_login_late"><!-- #$NAME$# --></div>
                <div id="button_login_late">▼</div>
                
                <div id="configs_login_late">
                    <div id="text_horas"></div>
                    <div id="icon_horas"></div>
                    
        
                    
                    <div id="favoritos_account_sustain" class="lines_configs_login_late">
                        <a class="text_configs_login_late" href="/home/meusfavoritos">Meus favoritos</a>
                        <div id="favoritos_account" class="icons_configs_login_late"></div>
                    </div>
                    
                     <div class="lines_configs_login_late">
                         <a class="text_configs_login_late" href="/admin">Admin</a>
                         <div id="admin" class="icons_configs_login_late"></div>
                    </div>
                    
                    <div class="lines_configs_login_late">
                        <a href="/home/termos" class="text_configs_login_late">Termos de Uso</a>
                        <div id="ajuda"  class="icons_configs_login_late"></div>
                    </div>
                    
                    <div class="lines_configs_login_late">
                        <a href="/home/politicadeprivacidade" class="text_configs_login_late">Política de Privacidade</a>
                        <div id="ajuda"  class="icons_configs_login_late"></div>
                    </div>
                    
                     <div id="sustenta_logout" class="lines_configs_login_late">
                        <a href="/logout" class="text_configs_login_late">Logout</a>
                        <div id="logout" class="icons_configs_login_late"></div>
                    </div>
                </div>
                    
            </div>
             <!-- END #$login_late$# -->
            
                </div>
            </div>
            
            
        </div>
            
        
        
        <!-- #$destaque-semana$# -->
        <div id="meio" class="corpo">
            
            <div class="centraliza">
                
          
                <div id="sustenta_destaques">
                    <div id="topo_destaques">Destaques</div>
                    <div id="esquerda_destaques"><div class="icons_direita_esquerda"></div></div>
                    
                    <div id="centro_destaques">
                        
                        <!-- #$DESTAQUE-SEMANA$# -->
                     
                    </div>
                    <div id="direita_destaques"><div class="icons_direita_esquerda"></div></div>
                </div>
             
            </div>
        </div>
        <!-- END #$destaque-semana$# -->


        <div id="abaixo" class="corpo" style="<!-- $#STYLEIFNEED#$ -->">
            <div class="centraliza">
                <div id="topo_abaixo">
                    <div id="sustenta_menus_topo_abaixo">
                        
                        <div id="todos_os_destaques" >
                            <!-- #$TITLE-SMA$# --> </div>
                       
                        
                    </div>
                    
                    <div id="centro_abaixo">
                        
                        <!-- #$NEW-SMA$# -->
                        
                        <!-- #$ajuda$# -->
                        <br>
                        <div style="font-size: large; font-family: monospace; font-weight: 500;">
O LEGENDAZ representa uma comunidade cujos membros são apaixonados por cultura e entretenimento. A interação e a colaboração dos nossos membros têm como consequência a produção de conteúdo próprio para filmes e séries, tais como:
<ul style="margin-left: 30px; margin-top: 10px; margin-bottom: 10px;">
    <li><strong>Dados técnicos</strong></li>
    <li><strong>Sinopses, avaliações e resumos</strong></li>
    <li><strong>Notícias</strong></li>
    <li><strong>Legendas para trailers e promos</strong></li>
    <li><strong>
            Legendas para séries e filmes</strong></li>
</ul>
Todo conteúdo produzido no LEGENDAZ está sob a licença <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" style="color: blue">Creative Commons</a> Atribuição, Não Comercial, Compartilhamento Igual 4.0 (CC BY-NC-SA 4.0)


DECLARAÇÃO SOBRE DIREITOS AUTORAIS E DMCA (Digital Millennium Copyright Act)
Como criadores de todo o conteúdo presente no LEGENDAZ, inclusive legendas, declaramos ser os detentores legais de seus direitos autorais.
NÃO disponibilizamos para download ARQUIVOS ou LINKS de séries, filmes ou qualquer outro conteúdo protegido por direitos autorais



                        </div>
                        <br>
                       <!-- END #$ajuda$# -->
   
                        <!-- #$politicadeprivacidade$# -->
                        
                        <div id="politicadeprivacidade">
                        <p>O Legendaz.com sabe o quanto é importante para você conhecer e estar seguro sobre a utilização dos seus dados pessoais. Por isso, nos preocupamos em esclarecer e divulgar nossa política de utilização dessas informações. Assim, você poderá entender melhor quais informações obtemos e como as utilizamos. Dedique alguns minutos do seu tempo para ler essa política e aproveitar de forma consciente e segura tudo o que a Legendaz.com tem para oferecer. Para assegurar regras claras e precisas, a Legendaz.com pode alterar essa política de tempos em tempos, e sendo assim, recomenda sua leitura periodicamente.</p>
                        <br>
                        <ol id="lista0" style=" #lista1 a{color: blue !important;}" >
                            <li><a href="#lista-1">Quais informações obtemos;</a></li>
                            <li><a href="#lista-2">O que são cookies e quais as suas utilidades;</a></li>
                            <li><a href="#lista-3">Como serão utilizadas estas informações;</a></li>
                            <li><a href="#lista-4">Quem coleta as informações;</a></li>
                            <li><a href="#lista-5">O que mais você precisa saber sobre sua privacidade on-line;</a></li>
              
                        </ol>
                        <br>
                        
                        
                        <ol id="lista-00" style="margin-top: 20px;"  >
                            <li id="lista-1" >
                            <h2> 1. Quais informações obtemos:</h2>
                            <p>A Legendaz.com coleta informações de diversas formas, em diferentes áreas do portal.</p>
                            <p>Algumas informações pessoais são obtidas quando você se registra. Durante o processo de registro, a Legendaz.com pergunta seu nome, endereço de e-mail e outras informações pessoais. Quanto mais informações corretas você fornecer, melhor será a personalização da sua experiência.</p>
                            <p>Entretanto, é tecnicamente impossível que quaisquer usuários do Portal Legendaz.com escolham como login para registro palavras, expressões ou conjuntos gráficos denominativos que já tenham sido escolhidos anteriormente por outros usuários, bem como é vedado a esses, usuários e/ou usuários a escolha de expressões malsoantes, injuriosas, coincidentes com marcas de produtos ou serviços de terceiros, denominações sociais, expressões publicitárias, nomes ou pseudônimos de personalidades públicas, de pessoas famosas ou registrados por terceiros, ou que não remetam à identidade do registrante e, em geral, contrários à lei, à ordem ou às exigências da moral e dos bons costumes comumente aceitos. Além disso, é terminantemente proibido o uso de nomes de marcas, programas, produtos ou serviços de propriedade ou oferecidos pela Legendaz.com ou de qualquer uma de suas sociedades controladoras, sociedade controladas ou sociedades sob controle comum.</p>
                            <p>O usuário que desobedecer ao estabelecido no parágrafo supra poderá ter o seu login cancelado e bloqueado sem aviso prévio e a critério exclusivo da Legendaz.com.</p>
                            </li>
                            
                            <li id="lista-2" type="none">
                                <h2> 2. O que são cookies e quais as suas utilidades:</h2>
                          
<p>Cookies são pequenos arquivos de texto enviados ao seu computador. Os cookies são armazenados no seu computador. Estes pequenos arquivos servem para reconhecer, acompanhar e armazenar a navegação do usuário na Internet.
O uso de cookies para acompanhar e armazenar informações possibilitará a Legendaz.com oferecer um serviço mais personalizado (hiperlink para o texto explicativo sobre personalização), de acordo com as características e interesses de seus usuários, possibilitando, inclusive, a oferta de conteúdo e publicidade específicos para cada pessoa, beneficiando a experiência do usuário na Internet.
</p>
<p>
Em geral, os cookies são utilizados para: Proporcionar serviços diferenciados, lembrando quem você é e quais são os seus hábitos de navegação, além de acessar as informações do seu cadastro na Legendaz.com (armazenadas em nossos servidores);
Ajudar os parceiros do Canal de Compras da Legendaz.com a acompanhar visitas e negócios em suas lojas;
</p>
<p>
Calcular a dimensão da audiência da Legendaz.com;
Acompanhar o andamento de promoções. Quando uma promoção organizada pela Legendaz.com usa cookies, as informações gravadas no cookie indicam a pontuação do usuário.
Medir certos padrões de navegação, mapeando quais áreas do portal Legendaz.com você visitou e seus hábitos de visita como um todo. Usamos essa informação para verificar a rotina de navegação dos nossos usuários, e assim oferecer conteúdo e/ou serviços cada vez mais personalizados.
Facilitar e agilizar o preenchimento de formulários.
</p>
<p>
As informações contidas nos cookies de cada usuário podem ser utilizadas para preencher previamente os formulários de coleta de dados existentes na Internet.
Os anunciantes, parceiros e/ou patrocinadores da Legendaz.com poderão utilizar seus próprios cookies, os quais não são cobertos por esta política. Sugerimos que você consulte as políticas de privacidade dessas empresas.
</p>                              
<a href="#lista0" >Voltar ao topo</a>
                            </li>
                            
                            
                             <li id="lista-3">
                                <h2> 3. Como serão utilizadas estas informações:</h2>
                                <p>
As informações coletadas pela Legendaz.com serão utilizadas para personalizar o conteúdo e/ou serviços disponibilizados.  Sabendo mais sobre você, a Legendaz.com pode fornecer conteúdo e serviços mais relevantes e proporcionar uma melhor experiência on-line.
                                </p>
                                <p>
                                    As informações também poderão ser utilizadas para gerar dados estatísticos gerais com finalidade informativa ou comercial.</p>
<p>
As informações pessoais individuais não serão comercializadas ou fornecidas a terceiros em nenhuma hipótese, salvo em estrito cumprimento de ordens judiciais ou procedimentos jurídicos similares. Todas as informações fornecidas a parceiros, patrocinadores, anunciantes e demais serão apenas de grupos de usuários (segmentos de mercado).
</p>                             
                                
                            <a href="#lista0" >Voltar ao topo</a>
                            </li>
                            
                            
                            
                            <li id="lista-4">

                                <h2>4. Quem coleta as informações</h2>
                                <p>
Quando a Legendaz.com solicita informações pessoais a você, essas informações estarão sendo enviadas somente a sites administrados pelas Organizações Legendaz, a não ser que seja indicado de forma diferente. Alguns parceiros, patrocinadores, anunciantes e demais que sejam acessados através do portal Legendaz.com, poderão solicitar informações pessoais suas. Num caso como esse essas informações não estarão sendo enviadas à Legendaz.com, e, sendo assim, o portal não terá qualquer responsabilidade pela utilização e manejo dessa informação, não sendo aplicada a presente política.
                                </p>
A Legendaz.com destaca que no portal Legendaz.com podem existir links e/ou páginas que utilizem publicidade gráfica de outros parceiros e/ou empresas, como por exemplo, o Google Ads, que utiliza relatório de informações demográficas da respectiva plataforma de publicidade. Caso você tenha interesse em desativar tal publicidade gráfica, deverá acessar o link configurações de anúncios ( https://www.google.com/settings/ads ) e personalizar sua própria experiência.
<p>
As promoções realizadas na Legendaz.com podem ser patrocinadas por outras empresas ou segundo uma parceria entre a Legendaz.com e uma dessas empresas. Alguns ou todos os dados coletados durante uma promoção podem ser compartilhados com o parceiro e/ou patrocinador. Se os dados forem compartilhados, você será notificado antes da coleta ou transferência dos dados. Assim, poderá decidir não participar da promoção se não desejar que seus dados sejam compartilhados.
</p>
<p>
Sempre que você acessar anunciantes ou outros Sites da Web através de links presentes no site da Legendaz.com, aqueles poderão coletar informações sobre você. Lembramos que as práticas relativas à privacidade desses parceiros e terceiros não são cobertos pela presente política e podem ser bem diferentes dos padrões de privacidade da Legendaz.com.
</p> 
<a href="#lista0" >Voltar ao topo</a>
                            </li>
                            
                        
  
                            
                            <li id="lista-5">
                                <h2>5. O que mais você precisa saber sobre sua privacidade on-line</h2>
                                <p>
                                Em última análise você é o responsável pela manutenção de sua privacidade e pelo sigilo de suas senhas e/ou informações pessoais.
Sendo assim, recomendamos:
Informe-se: ao acessar a Internet sempre busque a política/declaração de privacidade do Site que você está acessando.
Diga a seus filhos para não falarem sobre sua senha com estranhos. Ensine-os a não fornecerem qualquer informação pessoal, incluindo seus nomes, e diga-lhes para nunca preencherem formulários on-line sem primeiro pedirem sua permissão.
Use senhas complexas. Senhas simples são fáceis de serem quebradas. Use senhas complexas de combinações bastante longas de letras e números que necessitam combinações pouco usuais do teclado.
                                </p>
                                <p>
Nunca forneça sua senha a ninguém on-line. Apenas forneça sua senha ao realizar compras pessoalmente. Se sua senha foi fornecida, mude-a imediatamente.
Anúncios pessoais e salas de bate-papo são de domínio público. Qualquer informação que você torne disponível em salas de bate-papo, em fóruns ou em anúncios pessoais estará disponível a qualquer pessoa com acesso a esses locais. Sugerimos que você evite incluir informações que permitam às pessoas encontrá-lo, tais como o número de seu telefone ou seu endereço para correspondência.
                                </p>
                                   <a href="#lista0" >Voltar ao topo</a>
                            </li>
                           
                        </ol>
                        </div>
                        <!-- END #$politicadeprivacidade$# -->
                        
                        
                        
                        <!-- #$page$# -->
                        <div id="sustenta_abaixo_abaixo">
                           
                                <div id="abaixo_abaixo">
                                    <div class="buttom_abaixo_abaixo"></div>
                                    
                                    <!-- #$NEW-PAGE$# -->
                                  
                                    <div class="buttom_abaixo_abaixo"></div>
                                  
                                </div>
                          
                        </div>
                        <!-- END #$page$# -->
                        
                        
                        
                        
                        
                        
                    </div>
                </div>
              
            </div>
            
            
        </div>
        
        <!-- #$ajuda$# -->
        
        <!-- END #$ajuda$# -->
        
        <div id="rodape">
            
            <div class="centraliza">
                <div id="centro_rodape">
                    <div class="text_centro_rodape">© 2015</div>
                    <div class="text_centro_rodape">Legendaz - Aqui você encontra legenda de qualidade!</div>
                    <a  href="/home/" class="text_centro_rodape">Página inicial</a>
                    <a  href="/home/termos" class="text_centro_rodape">Termos de uso</a>
                    <a  href="/home/politicadeprivacidade" class="text_centro_rodape retira_borda">Política de Privacidade</a>
                    <a  href="http://www.facebook.com.br" id="facebook" title="Facebook" class="imgs_centro_rodape"></a>
                    <a  href="http://www.twitter.com.br" id="twitter" title="Twitter" class="imgs_centro_rodape"></a>
                </div>    
            </div>
            
        </div>
        
    </body>
</html>
