    *{text-decoration: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  
  }
  
  body{
      
         background-color: rgba(0, 0, 0, 0.03);
   
   
  background: url('bd10.jpg')  no-repeat;
  background-size: 100% 100%;
  }

  
  a{
      text-decoration: none;
      color: white;
  }
  
  .corpo{
      width: 100%;
      float: left;
    
  }
  #topo{

      
min-height: 70px;
background: transparent;
color: #1CAFF6;
max-height: 70px;
border-top: 10px solid #555;

box-shadow: 0px 0px 10px 0px black;
 

  }
  .centraliza{
      margin: 0 auto;
      width: 950px;
      
 
  
  }
  #itens{
      margin-right: 150px;
  }
 
  #topo #logo{
      float: left;
      margin-top: 0px;
      
      color: white;
      font-size: 35px;
      font-family: cursive;
      font-weight: bold;
      color: #555;
          padding: 5px;
  }
 #topo #logo:hover{
      cursor: pointer;
     

    border-bottom: 3px solid #555;
  }
  #topo #sustenta_busca{
      float:left;
      margin-top: 25px;
     
      margin-left: 80px;
      
       border: 1px solid #58b1fc;
     
  }
  #topo #sustenta_busca #busca{
      float:left;
      width: 250px;
      height: 30px;
     
      
      
  }

  #topo #sustenta_busca #enviar{
      background: url('search.png') #58b1fc no-repeat 15px 5px !important;
      width: 50px;
      height: 35px;
      float: left;
      border: 1px solid #58b1fc !important;
      text-decoration: none;
      
 
     
      
  }
  #topo #sustenta_favorito{
      float:left;
      width: 20px;
      height: 20px;
      background: url('cleanheader.png') -20px -80px white;
      border-radius: 5px;
    margin-left: 50px;
    margin-top: 30px;
  }
  #hover_favorito{
      float:left;
      width: 250px;
      height: 150px;
      margin-top: 20px;
      background: white;
      border: 1px solid #555;
      border-radius: 10px;
      display: none;
      border: 2px solid white;
  }
  #topo #sustenta_favorito:hover{
      cursor: pointer;
      background: url('cleanheader.png') -20px -80px white;
       border-radius: 5px;
        border: 2px solid #1CAFF6;
  }
  #topo #sustenta_favorito:hover #hover_favorito{
      display: block;
     
  }
  #topo #sustenta_historico{
      float: left;
      width: 20px;
      height: 20px;
      background: url('cleanheader.png') -40px -80px white;
      border-radius: 5px;
      margin-left: 20px;
      margin-top: 30px;
    
  }
  #hover_historico{
       float:left;
      width: 250px;
      height: 150px;
      margin-top: 20px;
      background: white;
      border: 1px solid #555;
      border-radius: 10px;
      display: none;
  }
  #topo #sustenta_historico:hover{
      cursor: pointer;
      background: url('cleanheader.png') -40px -80px white;
      border-radius: 5px;
      border: 2px solid #1CAFF6;
  
  }
  #topo #sustenta_historico:hover #hover_historico{
      display: block;
  }
  #topo #sustenta_busca #enviar{
      float: left;
      height: 30px;
      border: 1px solid silver;
      background: white;
  }
  #topo #sustenta_menus{
      float: left;
      
      margin-left: 30px;
      background: white;
      height: 50px;
      line-height: 50px;
      color: white;
      width: 100px;
      text-align: center;

      background:#1CAFF6;
      border-right: 5px solid black;
      
    
  }
   #topo #login{
       
       display: none;
       
       text-decoration: none;
      float: right;
      padding: 10px;
      font-size: 11px;
      height: 20px;
       line-height: 20px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
     border-bottom-left-radius: 05px;
     border-bottom-right-radius: 05px;
     
      text-align: center;
     
      background:#555;
      color: white;
      font-weight: bold;
     
      font-family: Cursive;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 15px;
   
      
  }
  /* background-color: rgba(32, 166, 231, 0.8);
background-image: -moz-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#20A8E9), to(rgba(30, 158, 220, 0.5)));
background-image: -webkit-linear-gradient(top, #20A8E9, rgba(30, 158, 220, 0.5));
background-image: -o-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
background-image: linear-gradient(to bottom, #20A8E9, rgba(30, 158, 220, 0.5));
  */
  #topo #login_late{
      
      float: right;
      width: 150px;
      height: 40px;

      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      border-radius: 25px;
      padding-top: 5px; 
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-top: 0px;
      background: #555;

       
       
  }
  #topo #login_late:hover{
      background-color: #555!important;
      cursor: pointer;

      border-bottom-right-radius: 0px;
      border-bottom: 0px;
      border-bottom-left-radius:35px;
      position: relative;
      
    
      
       
  }
 
  #img_login_late{
      margin-top: 03px;
      float:left;
      width: 33px;
      height: 32px;
      float: left;
      margin-left: 15px;
     
      border-radius: 25px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      
      background-size: 100% 100%; 
        
    
      
  }
  #name_login_late{
      float: left;
      color: white;
      font-weight: bold;
      font-size: 11px;
      max-width: 150px;
      margin-left: 10px;
  
      margin-top: 05px;
      text-align: left;
      line-height: 30px;
      
      padding-left: 5px;
      padding-right: 5px;
  }
  #button_login_late{
      color: white;
      float: left;
      width: 30px;
      text-align: center;
      margin-left: 10px;
      margin-top: 15px;
     
     
  }
  
   #login_late:hover #configs_login_late{
      display: block !important;
  }
  
  #configs_login_late{
      display: none;
      float:left;
      width: 200px;
      height: 30px;
      background: red;
      margin-left: 0px;
      margin-left: 20px;
      margin-top: 06px;
      background:#555;
      color: white;

      
       
  }
  #text_horas{
      float: left;
      width: 180px;
      height: 30px;
      line-height: 30px;
 
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      
   
      
  }
  #icon_horas{
      float: left;
      width: 15px;
      height: 15px;
      margin-top: 08px;
      margin-right: 05px;
      background: url('icons-p2.png') no-repeat -190px -174px;
      
  
      
  }
  .lines_configs_login_late{
      float: left;
      width: 100%;
      background: white;
      
      border-left: 1px solid rgba(0, 0, 0, 0.15);
       border-right: 1px solid rgba(0, 0, 0, 0.15);
       
       
  }
  .lines_configs_login_late:hover{
      background: #58b1fc;
      border-left:  2px solid #555;
  }
  
  .text_configs_login_late{
      float: left;
      width: 150px;
      height: 30px;
      line-height: 30px;
      text-align: center;

      color: #333;
      font-size: 12px;
      
          font-family: cursive;
      
  }

  .lines_configs_login_late:hover .text_configs_login_late{
       color: white;
  }
  
  .icons_configs_login_late{
      float:left;
      width: 15px;
      height: 15px;
      color: #333;
      font-size: 12px;
     
      margin-top: 08px;
       
      background: black;
  }
 
  #edit_account{
      
      background: url('admin.png') no-repeat -7.5px -8px;
      
 
  }
  #favoritos_account_sustain:hover #favoritos_account{
      
      background: url('icons-p2.png') -12.5px -199.5px red !important;
      border-radius: 25px;
      
  }
  #favoritos_account{
      
      background: url('icons-p2.png') -12.5px -199.5px silver !important;
      border-radius: 25px;
  }
  #favoritos_account:hover{
      
      background: url('icons-p2.png') -12.5px -199.5px red !important;
      border-radius: 25px;
  }
  #admin{
      
      background: url('adminb.gif') no-repeat;
      background-size: 100% 100%;
      
  }
  #ajuda{
      
      background: url('icon_ajuda.gif') no-repeat ;
      background-size: 100% 100%;
  }
  
 
  #sustenta_logout{

       border-bottom: 1px solid rgba(0, 0, 0, 0.15);
       border-top: 1px solid rgba(0, 0, 0, 0.15);;
  }
  #sustenta_logout:hover{
      background: #CCC;
      
  }
  #logout{
      background: url('icons-p2.png') no-repeat -175px -158px;
     
      
  }
  #topo #sustenta_menus #hover_sustenta_menus{
      float:left;
      width: 200px;
      position: relative;
      background: white;
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);

    border-top: 10px solid #fff;
      border-bottom: 10px solid #FFF;
      font: 500 15px/20px "museo-sans-rounded",sans-serif;
    
      color: #333;
  }
  #topo #sustenta_menus:hover{
      
      
      border-radius: 0px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  
  #topo #sustenta_menus:hover #hover_sustenta_menus{
      display: block !important;
      
  }
  
 
  
  #topo .menus{
     margin: 0 auto;
      
      height: 25px;
      line-height: 25px;
      font-family: Arial;
      font-weight: bold;
      color: black;
      font-size: 15px;
      
      padding: 05px;
      
      padding-left: 20px;
      padding-right: 20px;
  }
  #topo .menus:hover{
      background-color: rgba(32, 166, 231, 0.8);
background-image: -moz-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#20A8E9), to(rgba(30, 158, 220, 0.5)));
background-image: -webkit-linear-gradient(top, #20A8E9, rgba(30, 158, 220, 0.5));
background-image: -o-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
background-image: linear-gradient(to bottom, #20A8E9, rgba(30, 158, 220, 0.5));
cursor: pointer;

 
  }

 
  /*Entering #Meio */
  #meio{
     
      margin-top:150px;

      color: black;
      
  }
  
  #sustenta_destaques{
       
      float:left;
      width: 1000px;
      margin-top: 05px;

      
   
  }
  
  #topo_destaques{
      
      float: left;
      width: 100%;
      font-size: 25px;
      font-weight: bold;
    background: #555;
      border: 1px solid #555;
      border-radius: 25px 25px 25px 25px;
      padding-left: 20px;
      padding-right: 10px;
      padding-top: 05px;
      padding-bottom: 05px;
      
      color: white;
font-weight: 300;

font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  #esquerda_destaques{
      float: left;
      height: 317px;
     
      width: 25px;
      font-size: 25px;
      font-weight: bold;
 
      color: black;
      
      margin-top: 15px;
      
  }
  #icon_esquerda{
      float: left;
  height: 30px; width: 25px; text-align: center; line-height: 25px; margin-top: 150px;
  }
  
   .icons_direita_esquerda{
    
      float: left;
      color: white;
  height: 30px; width: 25px; text-align: center; line-height: 25px; margin-top: 150px; border-radius: 05px;
  }
  .icons_direita_esquerda:hover{background: #5cb85c; cursor: pointer; border-radius: 05px; color: white;}

  #centro_destaques{
      float:left;
      
      width: 950px;
      height: 400px;
    
    
  }
  .destaques{
      float:left;
      margin-left: 10px;
      width: 214px;
      height: 317px;
    
      margin-left: 15px;
      margin-top: 15px;
      
      color: #555 !important;
    
     
      
     
  }
  .img_destaques{
      float:left;
      width: 214px;
      height: 317px;
      
      text-align: center;
      line-height: 317px;
       border-radius: 05px;
       border:1px solid #555;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
  }
  .destaques:hover .img_destaques:hover{cursor: pointer; }
  .text1_destaques{
      float:left;
      width: 214px;
     
      font-size: 20px;
      line-height: 30px;

      text-align: center !important;;
      
 
  }
  .destaques:hover .text1_destaques{
      
 
      text-align: center;
      
     

      border-bottom: 1px solid #555;
      border-right: 1px solid #555;
      border-left: 1px solid #555;
  }
 
 
  .text2_destaques{
      float: left;
      width: 214px;
      height: 30px;
      line-height: 25px;
      font-size: 15px;

      text-align: center;
  }
  #direita_destaques{
      float: right;
      height: 317px;

      width: 25px;
      font-size: 25px;
      font-weight: bold;

      color: black;

      margin-top: 15px;
  }
 

  .destaques:hover .text1_destaques{
      cursor: pointer;
      color: #381095;
  }
  
  /* Entering Abaixo */
  #abaixo{

      min-height: 950px;
      max-height: 2500px;


      height: complex;
      margin-top: 60px;
 
  }
  #topo_abaixo{
      float:left;
      width: 960px;
      height: 100px;
    padding-left: 20px;
      padding-right: 10px;
      padding-top: 05px;
      padding-bottom: 05px;
      
  }
  #sustenta_menus_topo_abaixo{
      float:left;
      margin-left: 10px;
      height: 40px;
       background: #555;
       width: 100%;
       border-radius: 25px;
 border: 1px solid #555;
       border-bottom: 0px;
       
       
      padding-left: 10px;
      padding-right: 20px;
     margin-bottom: 20px;
  }
  #todos_os_destaques{
      
      
      float:left;
      
      height: 100%;
      line-height: 41px;
     
      text-align: center;
     
     
      color: white;
      
      padding-left: 10px;
      padding-right: 10px;
     
  }
  #todos_os_destaques:hover{
      cursor: initial;
  }
  .menus_topo_abaixo{
      float:left;
      
      height: 100%;
      line-height: 41px;
     
      text-align: center;
     
     
      color: white;
      
      padding-left: 10px;
      padding-right: 10px;
   

      
      
  }
  .menus_topo_abaixo:hover{
      cursor: pointer;
      background: white;
      color: black;
      font-weight: bold;
      
  }
  
  #centro_abaixo{
      float:left;
      width: 100%;
    
     
     
      border-radius: 10px;
      margin-left: 10px;
   
      
      padding-left: 10px;
      padding-right: 20px;
      
      
     
        border-top: 0px;
        
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        
        padding-bottom: 10px;
  }
  #politicadeprivacidade{
      font-family: serif;
      font-size: 18px;
  }
  #lista0{
   
      margin-top: 10px;
  }
  #lista0 a{
      color: blue !important;
  }
  #lista-00 p{
      margin-top: 15px;
      margin-bottom: 25px;
      
  }
  #lista-00 li{
      border-bottom:  1.5px solid silver;
      margin-bottom: 30px;
      list-style: none;
  }
  #lista-00 a{
      color: blue !important;
  }
  .sustenta_sma{
      float:left;

      margin-top: 30px;
      margin-left: 10px;
  }
  .menus_sma{
      float:left;
      width: 20px;
      height: 100%;
  
  }
  .favoritos_sma{
      float: left;
      width: 100%;
      height: 30px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      background: url('icons-p2.png') -08px -190.5px #CCC;
       border: 1px solid #CCC;
      
  }
  .sma_favoritado{
      
      background: url('icons-p2.png') -10px -190px red !important;
  }
  .favoritos_sma:hover{
      background: url('icons-p2.png') -10px -190px red;
      cursor: pointer;
       border: 1px solid red;
       border-right: 0px;
  }
  .img_sma{
      float:left;
      width: 140px;
      height: 207px;
 
     
  }
  .sustenta_text_sma{
      float: left;
      width: 130px;
      

      margin-left: 10px;
  }
  .title_sma{
      float:left;
      width: 100%;
      font-size: 16px;
    
      text-align: left;
      
      font-weight: 100px;
    
 padding-bottom: 05px;

       border-bottom:  1px solid buttontext; 
       font-size: 15px;
  }
  .sustenta_release{
      float: left;
      width: 100%;
    
       
      margin-top: 05px;
     
      
  }
  .release{
      float: left;
     margin-top: 05px;
      font-size: 10px;

 
      margin-left: 05px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 5px;
      margin-bottom: 05px;
      background: #58B1FC;
      
      text-align: center !important;
  }
  .release:hover{
      cursor: cell;
  }
 
  .text_downloads{
      float:left;
      width: 45%;
      text-align: left;
      margin-top: 10px;
      margin-left: 5%;
 
        font-size: 10px;
  }
  .color_downloads{
      color: blue;
    
  }
  .sustenta_botao_downloads{
      float:left;
      width: 100%;
      margin-top: 15px;
   
     
  }
  .botao_downloads{
      float:left;
      width: 100px;
      height: 30px;
      margin-left: 10px;
   
      text-align: center;
      line-height: 30px;
      background: #555;
      margin-top: 05px;
      color: white;
      border-radius: 25px;
  }
  .botao_downloads:hover{
      
      cursor: pointer;
      color: #58B1FC !important;
  }
  
  #sustenta_abaixo_abaixo{
      float:left;
      width: 100%;
      height: 30px;

      margin-top: 45px;
  }
  #abaixo_abaixo{
      margin: 0 auto;
      width: 300px !important;
      height: 30px;

  }
  .buttom_abaixo_abaixo{
      float:left;
      height: 30px;
      width: 20px;
      line-height: 30px;

      text-align: center;
      margin-left: 05px;
      background: #555;
      color: white;
  }
  .buttom_abaixo_abaixo:hover{
       cursor: pointer;
      background: #5CB85C;
      color: white;
      font-weight: bold;
  }
  .number_abaixo_abaixo{
      float: left;
      height: 20px;
     
      margin-left: 05px;
      margin-top: 05px;
    
      text-align: center;
      padding-right: 05px;
      padding-left: 05px;

      line-height: 20px;
      font-size: 11px;
      
   
      
      background: #555;
      color: white;
  }
  .number_abaixo_abaixo:hover{
      cursor: pointer;
       background: #5CB85C;
      color: white;
      font-weight: bold;
  }
  
  /* Rodape */
  #rodape{
      float:left;
      width: 100%;
      height: 100px;
      background: #555;

     
     
  }
  #centro_rodape{
      float:left;
      width: 955px;
      height: 30px;
      background: black;
      border-radius: 25px;
      margin-top: 35px;
  }
  .text_centro_rodape{
      margin-top: 07px;
      float: left;
      color: white;
      border-right:  1px solid #CCC;
      padding-right: 10px;
      margin-left: 15px;
      
      font-family: 'Segoe UI',Arial,Helvetica,sans-serif;
      font-size: 13px;
  }
  a:hover{
      text-decoration: none;
      color: red;
  }
  .retira_borda{
      border: 0px !important;
      margin-right: 30px;
  }
  .imgs_centro_rodape{
      float:left;
      
      width: 30px;
      height: 30px;
      border-radius: 25px;
      margin-left: 10px;  

      
      
     
  }
  
  #facebook{
      background: url('sprite_1.png') -19px 0px #2C61AA;
       border-bottom-right-radius:  800px;
  
  }
  #facebook:hover{
      background: url('sprite_1.png') -19px 0px red;
      cursor: pointer;
      border-radius: 0px;
  }
  #twitter{
      background: url('sprite_1.png') -51px 0px #2C61AA;
      margin-left: 05px;
      border-bottom-left-radius:  800px;
  }
  #twitter:hover{
      background: url('sprite_1.png') -51px 0px red;
      cursor: pointer;
      border-radius: 0px;
  }